html{
    font-size: 100%;
}

body {
    background-image: url(images/To_do_list_bg.png);
    background-size: contain;
    /* 
    비율을 유지하면서 최대한의 크기로 출력
    */
    background-position: center top;
}


main{
    max-width: max-content;
    /* 최대 넓이를 기준으로 하게 설정 */
    /* margin : 0 auto;  */
    /* 가운데 정렬 */
    padding: 3%;
    /* 상하좌우 여백 */
}

nav{
    display: flex;
    justify-content: flex-end;
    /* 정렬 기준 flex > 가로 */
    /* 오른쪽으로 붙임 */
    margin-top: 9.5%;
    margin-right: 10%;
}
nav button{
    margin-right: 3%;
    font-size: 120%;
    font-weight: bold;
    padding: 0.5%;
    border-width: 2px;
    border-style: solid;
    background-color: aqua;
}